Welcome to ur personal phone-book!

Choose what u want:
==================================

1. All entries
2. Create a new record
3. Update record
4. Delete record
0. Exit()

==================================
